<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cabeçalho</title>



</head>
<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-dark border-bottom shadow-sm">
    <div class="container">


      <a class="navbar-brand fw-bold fs-4 text-white" href="#">
        Loca Filme
      </a>


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarContent">


        <ul class="navbar-nav mx-auto mb-2 mb-lg-0 gap-lg-3">
          <li class="nav-item">
            <a class="nav-link fw-medium text-white" href="#">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium text-white" href="#">Catálogo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fw-medium text-white" href="#">Suporte</a>
          </li>
        </ul>


        <div class="d-flex">
          <a href="#" class="btn btn-primary px-4">Acessar Conta</a>
        </div>

      </div>
    </div>
  </nav>


</body>
</html>