<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
{% block head %}
    {% include "head.html" %}
{% endblock %}
<body>
  <style>
    body {
      background-color: #f8f9fa;
    }

    .search-container {
      max-width: 600px;
      margin: 0 auto;
    }

    .card {
      transition: transform 0.2s, box-shadow 0.2s;
      height: 100%;
    }

    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 20px rgba(0,0,0,0.12);
    }

    .card-img-top {
      height: 280px;
      object-fit: cover;
    }
  </style>

<body>



  <div class="container py-5">

      <div class="search-container mb-5">
      <div class="input-group input-group-lg shadow-sm">
        <input type="text"
               class="form-control"
               placeholder="Buscar filme"
               aria-label="Buscar filme">
        <button class="btn btn-primary px-4" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg>
        </button>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="fw-bold mb-0"></h2>
      <a href="{% url 'filme_novo' %}" class="btn btn-outline-primary btn-sm">Adicionar Filmes</a>
    </div>


    <div class="row g-4">
         {% for film in filme %}

        <div class="col-12 col-sm-6 col-lg-3">
        <div class="card border-0 shadow-sm">
          <img src="#" class="card-img-top" alt="Filme 1">
          <div class="card-body">
            <h5 class="card-title fw-semibold">{{ film.titulo }}</h5>
            <p class="card-text text-muted small">{{ film.genero }} {{ film.anoLançamento }}</p>
            <a href="#" class="btn btn-outline-primary btn-sm w-100">Editar</a>
              <a href="#" class="btn btn-outline-primary btn-sm w-100">Excluir</a>
          </div>
        </div>
      </div>

        {% endfor %}





    </div>
  </div>
</body>
{% block content %} {% endblock %}
{% block footer %}
    {% include "footer.html" %}
{% endblock %}

